h1{
    color: #e5b764;
}
.screen-one{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(img/cadceadb50.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wedding-one{
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#1d4650,#0b1d27);
}
